body {
  font-size: 16px;
  color: black;
  background-color: skyblue;
  font-family: 'Oxygen', sans-serif;
}


#header-nav {
    color: red;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /*Site Name*/
  font-family: 'Oxygen', sans-serif;
  color: darkblue;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a{
    text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#page-title{
  font-weight: bold;
  text-shadow: 1px 1px 1px #777;
}